node_modules
npm-debug.log
.git
.gitignore
.env
.DS_Store
coverage
.storybook
storybook-static
*.md
.husky
.github
.eslintcache

# Exclude Storybook story files
**/*.stories.tsx
**/*.stories.ts
**/*.stories.jsx
**/*.stories.js
**/*.stories.*

# Exclude test files
**/*.test.*
**/*.spec.*