body {
  font-family: "Inter", sans-serif;
  background-color: #0f0f0f;
  color: #f8f8f8;
  margin: 0;
  padding: 0;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
